body {
    background-color: #F8FBFE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 130px;
    margin-right: 130px;
}
.logo1 {
    position: absolute;
width: 49px;
height: 35px;
left: 240px;
top: 62px;
}
.list {
    position: absolute;
width: 322px;
height: 30px;
left: 410px;
top: 65px;

}
.bloke1 {
    position: absolute;
width: 1248px;
height: 754px;
left: 240px;
top: 50px;

}